* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --turquesa: #00bfa6;
    --naranja: #ff6f00;
    --oscuro: #222;
    --claro: #f5f7fa;
}
body {
    font-family: 'Rajdhani', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--claro);
    color: var(--oscuro);
}
h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-weight: 400;
}
/* HEADER */
header {
    position: fixed;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    z-index: 1000;
}

.logo {
    font-weight: 800;
    font-size: 20px;
    color: var(--turquesa);
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #0a66c2;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0a66c2, #00c6ff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 255, 200, 0.5);
    padding: 20px;
}

.hero h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: white;
    color: #0a66c2;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #f0f0f0;
}

/* SECTIONS */
.section {
    padding: 100px 40px;
    text-align: center;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.dark {
    background: #0a66c2;
    color: white;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}
#Material a {
    color: var(--turquesa);
    font-weight: 600;
    text-decoration: none;
}

#Material a:hover {
    color: var(--naranja);
}